/*
  These are the styles meant to apply to all of the pages
*/

body {
  overflow: hidden;
}

md-card.splash {
  background-color: #fff;
  height: 100%;
}

md-card h2:first-of-type {
  margin-top: 0;
}

md-content.md-default-theme {
  background-color: #eee;
}

md-content.splash {
  overflow: hidden;
}

md-card-content.videobrowsecontent {
  overflow: auto;
}

md-grid-tile img {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.md-display-3 {
  color: rgb(30, 30, 30);
}

button.welcome {
  width: 60%;
  margin: auto;
  font-size: 40px;
  height: 60px;
}
/*Toolbar*/

md-input-container.search {
  padding: 0;
}

md-input-container.md-default-theme .md-input {
  color: white;
  border-color: #75ACE4;
}

input.search {
  margin-right: -54px;
  width: 340px;
}

md-toolbar.md-default-theme md-icon.clearsearch {
  color: #8BC5F3;
}

md-toolbar.md-default-theme md-icon.clearsearch.invisible {
  color: rgba(255, 255, 255, 0) !important;
}

input.search::-webkit-input-placeholder {
  color: #D1E4F6;
}

input.search::-moz-placeholder {
  color: #D1E4F6;
}

input.search:-ms-input-placeholder {
  color: #D1E4F6;
}

.selected {
  background-color: blue;
}

[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}

md-card {
  background-color: white;
}

button.metafilters {
  color: rgb(155,155,155);
}

h1.md-headline {
  margin: 0;
}

div.song_desc {
  height: auto;
  overflow-y: scroll;
}

div.titlecard {
  min-height: 100px;
}

pre.songdesc {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .01em;
  line-height: 20px;
  font-family: "RobotoDraft,Roboto,'Helvetica Neue',sans-serif";
}

p.songdesc {
  white-space: pre-line;
}